.wrapper {
	width: 960px;
	margin: 0 auto 0 auto;
}

.header {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}

/* forms START */

	.form {
		padding: 25px 0 25px 0;
		border: 1px solid black;
		background-color: #EEEEEE;
		border-radius: 25px;
	}
	
	.form_element {
		display: inline-block;
		padding-right: 30px;
		padding-left: 50px;
	}
	
	.form_element input {
		width: 195px;
	}
	
	.form_element select {
		width: 200px;
	}
	
	.form_element button {	
		width: 80px;
	}
	
	.pdf_options {
		display: none;
	}

	.png_options {
	}	

/* forms END */

/* start TABLE */

	.file_table {
		margin-top: 50px;
	}
	
	.file_table table {
		width: 100%;	
	}
	
	.file_table table th {
		text-align: left;
	}
	
	.file_table table td {
		padding-bottom: 10px;
	}
	
	.file_table table td a {
		vertical-align: top;
	}
	
	.delete_file {
		cursor: pointer;
	}

/* end TABLE */

#ajax_loader {	
	text-align: center;
	font-size: 1.5em;
	background-color: #FFFFFF;
	position: absolute;
	top: 200px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid black;
	padding-top: 15px;
	width: 250px;
	height: 150px;
	display: none;	
}