label.error {
    width: auto;    
    margin-left: 140px;
    color: #CC0000;
    margin-top: -5px;
}

.message {
	font-size: 15pt;
	width: 640px;
	margin-left: 10px;
	padding-left: 10px;
	border-radius: 5px;
}

.mailError {
	color: #CC0000;
	border: 2px solid #CC0000;
}

.mailOk {
	color: #008000;
	border: 2px solid #008000
}

/* input[required] { */
.required:after {
	color: #CC0000;
	font-weight: bold;	
	content:  "*";	
}

fieldset {
    width: 640px;
    border-radius: 10px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #cecece 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#cecece));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 99%);
    background: -o-linear-gradient(top,  #ffffff 0%,#cecece 99%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#cecece 99%);
    background: linear-gradient(to bottom,  #ffffff 0%,#cecece 99%);
}

legend {
    background-color: #CECECE;
    padding: 2px 5px 2px 5px;
    border: thin solid;
    border-radius: 5px;
    font-weight: bold;    
}

label {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

input, textarea {
    width: 500px;
}

textarea {
    height: 250px;
    resize: none;
}

input:focus, textarea:focus,input:hover, textarea:hover {
    box-shadow: 0 0 5px #808080
}

input[type="submit"], input[type="reset"] {
    width: 80px;    
    margin-top: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    margin-left: 135px;
}