.dev_bar_header {
	width: 100%;	
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 15px;
}

.dev_bar_table {
	width: 100%;
	border-spacing: 0px;
}

.dev_bar_table_head {
	background-color: #c0c0c0;	
	text-align: left;
}

.dev_bar_table_row:nth-child(1n) {
	background-color: #d2d2d2;
}

.dev_bar_table_row:nth-child(2n) {
	background-color: #9a9a9a;
}

.dev_bar_table_row_selected {
	background-color: #518DD6;
}

.dev_bar_table_row:hover, .dev_bar_table_row_selected:hover {
	background-color: #408080;
}



