body {
	margin-top: 30px; 	
}

.dev_link  {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}
.dev_bar {
	position: fixed;
	top: 0;
	left: 20%;
	width: 60%;
	height: 25px;
	text-align: center;
	border: 1px solid #000000;	
}

.dev_frame {
	position: fixed;
	top: 35px;
	left: 20%;
	width: 57%;	
	border: 1px solid;
	padding-left: 1.5%;
	padding-right: 1.5%;	
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: auto;
	height: 90%;
}

.dev_error_frame_header {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	color: #CC0000;
	padding-bottom: 25px;
}

.dev_bar_hr {
	width: 110%;
	margin-left: -26px;	
	border-top: 1px solid;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	color: #000000;
}
