@CHARSET "ISO-8859-1";

.wrapper {
	
}

.line {	
	clear: both;
}

.button {
	width: 100px;
	height: 100px;
	margin: 15px;
	border-radius: 10px;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.on {
	background-color: lightgrey;
	float: left;
}

.off {
	background-color: lightgrey;
	float: left;
}

.status {
	width: 50px;
	height: 50px;	
	background-color: lightgrey;
	float: left;
	margin-top: 35px;
}