.wrapper {
	width: 540px;
	margin: 0 auto;
}

.header {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.calculator {
	margin: 50px auto 0 auto;
	background-color: #EEEEEE;
	width: 250px;
	border: 1px solid black;
	text-align: center;
	padding: 25px 0 25px 0;
	border-radius: 25px;
}

input, select {
	margin-right: 10px;
	margin-left: 10px;
}