body {
    font-family: 'trebuchet ms', verdana, arial;
    font-size: 12px;
}

.wrapper {
    margin: 0 auto 0 auto;
    width: 1150px;
}

.headline {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 25px auto 0 auto;
    text-align: center;
    width: 500px;
}

.total {
    text-align: center;
    padding: 25px 0 25px 0;
}

.total_info {
    text-align: center;
    color: #9a9a9a;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 15px;
}

.entry {
    border: 1px solid #000000;
    border-radius: 10px;
    width: 180px;
    float: left;
    margin: 20px;
}

.details table {
    width: 75%;
    margin: 0 auto 0 auto;
    padding-bottom: 15px;
}