@media print {
	.field_buttons { 
		display: none; 
	}
}

.wrapper {
	width: 960px;
	margin: 0 auto 0 auto;
}

.header {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}

.input {	
	width: 49%;	
	float: left;
}
			
.output {
	width: 49%;
	float: right;
}

.area_header {
	background-color: lightgrey;
	margin-bottom: 20px;
	padding: 5px 0 5px 0;
	text-align: center;
	font-size: 1.3em;
	border-radius: 10px;
}

.field {
	padding-bottom: 10px;
}

.field label {
	display: inline-block;
	width: 200px;
	padding-left: 15px;
}

.field input {
	width: 70px;	
}

.field_buttons {
	margin-top: 25px;
	padding-left: 100px;
}

.field_header_output div {
	display: inline-block;
	width: 76px;
	text-align: center;
}

.field_header_output div:first-child {
	width: 200px;	
	padding-left: 15px;	
}